<div class="container">
<form [formGroup]="formValue"> 
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="control-label col-sm-2" for="password">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
  </div>
  <!-- Submit button -->
  <button type="button" class="btn btn-primary" (click)="loginForm()">Sign in</button>&nbsp;
  <button type="button" routerLink="/signUp" class="btn btn-primary">Register here</button>
 
</form>

</div>